    body {
        /*text-align: center;*/
        font-family: 'Noto Sans Thai', sans-serif;

    }

/* ขอบสีแดง */
    .red-border {
        width: 100%;
        border: 5px solid #c3002f;
        box-sizing: border-box;
    }

/* ขอบสีเหลือง */
    .yellow-border {
        width: 100%;
        border: 20px solid #ffd13f;
        box-sizing: border-box;
    }

    .container{
        display: flex;
    }

   .red-textbox{
           display: flex;
           align-items: center;
           justify-content: center;
           background-color: #c3002f;
           color:white;
           padding: 10px;
           width: 200px;
           height: 30px;
           text-align: center;
       }
       .grey-textbox{
           display: flex;
           flex: 1;
           padding: 10px;
           background-color: #384449;
           padding: 10px;
           width: 500px;
           height: 40px;


       }

    .grey-textbox2{
           display: flex;
           align-items: center;
           justify-content: center;
           background-color: #384449;
           color:white;
           padding: 10px;
           width: 200px;
           height: 40px;
           text-align: center;
       }

    .w2-textbox{
            flex: 1;
            background-color: #FFFFFF;
            padding: 10px;
            width: 500px;
            height: 62px;

        }

    .white-textbox{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            color:white;
            padding: 10px;
            width: 332px;
            height: 62px;
            text-align: center;
        }

    .right {
              text-align: right;
              align-items: center;
              align-items: center;
              font-family: 'Noto Sans Thai', sans-serif;
              margin-right: 60px;
              margin-top: -45px;


          }

     button {
             /* Add your styling properties here */
             background-color:#c3002f; /* Green background color */
             color: solid #c3002f; /* White text color */
             padding: 4px 8px; /* Padding for the button */
             border: none; /* No border */
             cursor: pointer; /* Cursor on hover */
             color:white;
             font-family: 'Noto Sans Thai', sans-serif;
             font-size: small ;
           }

           button2 {
             /* Add your styling properties here */
             background-color:#384449;
             color: solid #384449;
             padding: 4px 8px; /* Padding for the button */
             border: none; /* No border */
             cursor: pointer; /* Cursor on hover */
             color:white;
             font-family: 'Noto Sans Thai', sans-serif;
             font-size: medium;
             align-items: center;
             justify-content: center;
             text-align: center;
           }

    #profile{
        height:73px;
        width: 73px;
    }
    #username{
        position: absolute;
        right: 170px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(200, 88, 88);
    }

    #username {
        display: flex;
        align-items: center;
    }

    .username-image {
        margin-right: 10px; /* Adjust the margin as needed */
        height: 20px;
    }

    #notification{
        height: 20px;
        width: 20px;
       margin-right: 10px;
    }

    img {
        max-height: 100%;
        width: auto;
      }

    .img-web {
        max-width: 1920px;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
        }



        .red-box {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            width: 220px;
            height: 50px;
            background-color: #c3002f;
            box-sizing: border-box;
            font-size: medium;
            color:white;

        }


        .grey-box {         flex:1;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            padding: 10px;
                            width: 220px;
                            height: 1000px;
                            background-color: #384449;
                            box-sizing: border-box;
                            font-size: medium;
                        }

        .grey2-box {        flex:1;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            padding: 10px;
                            width: 200px;
                            height: 50px;
                            background-color: #384449;
                            font-size: medium;
                        }


                        .white-rectangle {
                            display : flex;
                            
                            width: 1000px; /* กว้างของกรอบสี่เหลี่ยม */
                            height: 500px; /* สูงของกรอบสี่เหลี่ยม */
                            background-color: #ffffffb6; /* สีของกรอบสี่เหลี่ยม (ขาว) */
                            border: 1px solid #000000; /* เส้นขอบของกรอบสี่เหลี่ยม (ดำ) */
                            background-color: white;
                            padding: 20px;
                            border-radius: 10px;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            margin: 20px;
                            margin-left: auto; /* ย้ายไปทางขวา */
                            margin-right: 0;  
                          }
                        
                          #myTable {
                            border-collapse: collapse;
                            max-width: 20%;
                          }
                        
                          th, td {
                            border: 1px solid black;
                            padding: 3px;
                            text-align: center;
                          }
                        
                          th {
                            background-color: #f2f2f2;
                          }
                        
                          #studentFirstName,#studentLastName,#studentId,#studentYear,#studyField,#addressNumber,#moo,#tumbol,#amphur,#provice,#postalCode,#mobliePhone,#phone,#advisor,#action{
                            display: inline-block;
                            text-indent: 20px;
                            margin-top: 10px; 
                            margin-bottom: 10px;
                          }
                        
                          .buttonadd_drop {
                            color: white;
                            border: none;
                            padding: 10px 20px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            margin: 4px 2px;
                            cursor: pointer;
                            border-radius: 5px;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        .submit-button {
                            background-color: #FFD13F; /* เปลี่ยนสีพื้นหลังของปุ่ม Submit เป็นสีเขียว */
                            color: white; /* เปลี่ยนสีตัวอักษรของปุ่ม Submit เป็นสีขาว */
                            border: none;
                            padding: 10px 20px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            margin: 4px 2px;
                            cursor: pointer;
                            border-radius: 5px;
                            align-items: center;
                            justify-content: center;
                        
                        }
                        
                        .submit-button:hover {
                            background-color: darkred; /* เปลี่ยนสีพื้นหลังของปุ่ม Submit เมื่อ hover เป็นสีเขียวเข้ม */
                        }
                        .row:after {
                            content: "";
                            display: table;
                            clear: both;
                          }
                          * {
                            box-sizing: border-box;
                          }
                          .column {
                            float: left;
                            padding: 10px;
                            height: 300px; /* Should be removed. Only for demonstration */
                          }
                          
                          .left {
                            width: 200px;
                          }
                          
                          .right {
                            width: 700px;
                          }
                          
                          /* Clear floats after the columns */
                          .row:after {
                            content: "";
                            display: table;
                            clear: both;
                          }


